{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content %}
{{ super() }}
<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Upload</h2>
                <p>Envie seu trabalho de projeto integrador, basta preencher o formulário abaixo. </p>
            </div>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.csrf_token() }}

                <div class="form-group">
                    {{form.title.label}}
                    {{form.title(class="form-control item") }}
                </div>
                <div class="form-group">
                    {{form.course.label}}
                    {{form.course(class="form-control item") }}
                </div>
                <div class="form-group">
                    {{form.pole.label}}
                    {{form.pole(class="form-control item") }}
                </div>
                <div class="form-group">
                    {{form.year.label}}
                    {{form.year(class="form-control item") }}
                </div>
                <div class="form-group">
                    {{form.pdf.label}}
                    {{form.pdf}}
                </div>
                    {{ form.submit(class="btn btn-primary btn-block")}}
            </form>
            
        </div>
    </section>
</main>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}
